<h3><span class="from">{{ trip.stationFrom.name }}</span> > <span class="to">{{ trip.stationTo.name }}</span></h3>
{{#each train in trip.trains}}
  {{card-trip-train train=train}}
{{/each}}

{{yield}}
