header.navigation {
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  z-index: $navigation-z-index;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
  }

  // Nav menu

  .logo {
    @include span-columns(8);
    line-height: $navigation-height;
  }

  nav {
    @include span-columns(4);
    min-height: $navigation-height;
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: inline;
    line-height: $navigation-height;

    a {
      color: $navigation-color;
      display: inline-block;
      padding-right: 1em;

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Elements on the far right

  .sign-up {
    @include button(flat, $base-accent-color);
    display: inline;
    float: right;
    font-size: 0.8em;
    margin-top: 1em;
    padding: 0.75em 1em;
    text-transform: uppercase;
  }
}

