<ul class="trip-details">
  <li><strong>From:</strong> <span class="from">{{model.stationFrom.name }}</span></li>
  <li><strong>To:</strong> <span class="to">{{model.stationTo.name }}</span></li>
</ul>

<h3>Select a station</h3>
{{#each station in stations}}
  {{card-station station=station action='selectStation'}}
{{/each}}
