<ul>
  {{#each station in stations}}
    <li>{{station.name}}</li>
  {{/each}}
</ul>
<h3>Select a station</h3>
{{#each station in stations}}
  {{card-station station=station action='selectStation'}}
{{/each}}
